<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiewende.creativehomesuppliescity.mapper.ProgramMapper" >
  <resultMap id="BaseResultMap" type="com.xiewende.creativehomesuppliescity.pojo.Program" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="designer_id" property="designerId" jdbcType="INTEGER" />
    <result column="good_name" property="goodName" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="VARCHAR" />
    <result column="other_demand" property="otherDemand" jdbcType="VARCHAR" />
    <result column="finish_pic" property="finishPic" jdbcType="VARCHAR" />
    <result column="finisn_idea" property="finisnIdea" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="finish_time" property="finishTime" jdbcType="TIMESTAMP" />
    <result column="is_accept" property="isAccept" jdbcType="INTEGER" />
    <result column="isDelete" property="isdelete" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, designer_id, good_name, size, other_demand, finish_pic, finisn_idea, 
    status, create_time, finish_time, is_accept, isDelete
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xiewende.creativehomesuppliescity.pojo.ProgramExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from program
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from program
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from program
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiewende.creativehomesuppliescity.pojo.ProgramExample" >
    delete from program
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiewende.creativehomesuppliescity.pojo.Program" >
    insert into program (id, user_id, designer_id, 
      good_name, size, other_demand, 
      finish_pic, finisn_idea, status, 
      create_time, finish_time, is_accept, 
      isDelete)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{designerId,jdbcType=INTEGER}, 
      #{goodName,jdbcType=VARCHAR}, #{size,jdbcType=VARCHAR}, #{otherDemand,jdbcType=VARCHAR}, 
      #{finishPic,jdbcType=VARCHAR}, #{finisnIdea,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{finishTime,jdbcType=TIMESTAMP}, #{isAccept,jdbcType=INTEGER}, 
      #{isdelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xiewende.creativehomesuppliescity.pojo.Program" >
    insert into program
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="designerId != null" >
        designer_id,
      </if>
      <if test="goodName != null" >
        good_name,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="otherDemand != null" >
        other_demand,
      </if>
      <if test="finishPic != null" >
        finish_pic,
      </if>
      <if test="finisnIdea != null" >
        finisn_idea,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="finishTime != null" >
        finish_time,
      </if>
      <if test="isAccept != null" >
        is_accept,
      </if>
      <if test="isdelete != null" >
        isDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="designerId != null" >
        #{designerId,jdbcType=INTEGER},
      </if>
      <if test="goodName != null" >
        #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="otherDemand != null" >
        #{otherDemand,jdbcType=VARCHAR},
      </if>
      <if test="finishPic != null" >
        #{finishPic,jdbcType=VARCHAR},
      </if>
      <if test="finisnIdea != null" >
        #{finisnIdea,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null" >
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isAccept != null" >
        #{isAccept,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiewende.creativehomesuppliescity.pojo.ProgramExample" resultType="java.lang.Integer" >
    select count(*) from program
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update program
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.designerId != null" >
        designer_id = #{record.designerId,jdbcType=INTEGER},
      </if>
      <if test="record.goodName != null" >
        good_name = #{record.goodName,jdbcType=VARCHAR},
      </if>
      <if test="record.size != null" >
        size = #{record.size,jdbcType=VARCHAR},
      </if>
      <if test="record.otherDemand != null" >
        other_demand = #{record.otherDemand,jdbcType=VARCHAR},
      </if>
      <if test="record.finishPic != null" >
        finish_pic = #{record.finishPic,jdbcType=VARCHAR},
      </if>
      <if test="record.finisnIdea != null" >
        finisn_idea = #{record.finisnIdea,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.finishTime != null" >
        finish_time = #{record.finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isAccept != null" >
        is_accept = #{record.isAccept,jdbcType=INTEGER},
      </if>
      <if test="record.isdelete != null" >
        isDelete = #{record.isdelete,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update program
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      designer_id = #{record.designerId,jdbcType=INTEGER},
      good_name = #{record.goodName,jdbcType=VARCHAR},
      size = #{record.size,jdbcType=VARCHAR},
      other_demand = #{record.otherDemand,jdbcType=VARCHAR},
      finish_pic = #{record.finishPic,jdbcType=VARCHAR},
      finisn_idea = #{record.finisnIdea,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      finish_time = #{record.finishTime,jdbcType=TIMESTAMP},
      is_accept = #{record.isAccept,jdbcType=INTEGER},
      isDelete = #{record.isdelete,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiewende.creativehomesuppliescity.pojo.Program" >
    update program
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="designerId != null" >
        designer_id = #{designerId,jdbcType=INTEGER},
      </if>
      <if test="goodName != null" >
        good_name = #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="otherDemand != null" >
        other_demand = #{otherDemand,jdbcType=VARCHAR},
      </if>
      <if test="finishPic != null" >
        finish_pic = #{finishPic,jdbcType=VARCHAR},
      </if>
      <if test="finisnIdea != null" >
        finisn_idea = #{finisnIdea,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null" >
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isAccept != null" >
        is_accept = #{isAccept,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null" >
        isDelete = #{isdelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiewende.creativehomesuppliescity.pojo.Program" >
    update program
    set user_id = #{userId,jdbcType=INTEGER},
      designer_id = #{designerId,jdbcType=INTEGER},
      good_name = #{goodName,jdbcType=VARCHAR},
      size = #{size,jdbcType=VARCHAR},
      other_demand = #{otherDemand,jdbcType=VARCHAR},
      finish_pic = #{finishPic,jdbcType=VARCHAR},
      finisn_idea = #{finisnIdea,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      is_accept = #{isAccept,jdbcType=INTEGER},
      isDelete = #{isdelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>